.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
  }
  
  .sports-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .banner {
    width: 100%;
    height: 200px;
    color: #007bff;
    align-items: center;
    display: flex;
    margin-right: 20px;
    padding: 86px;
  }
  
  .banner img {
    max-width: 200px;
    margin-top: 10px;
    margin-right: 20px;

  }
  
  .banner h1 {
    margin: 0;
    font-size: 32px;
    text-align: left;
  }

  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
}

.news-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.news-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.news-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.news-category {
    font-size: 14px;
    color: #007bff;
    text-transform: uppercase;
    font-weight: bold;
}

.news-title {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.news-date {
    font-size: 12px;
    color: #777;
}

.live-indicator {
    font-size: 12px;
    color: #ff0000;
    font-weight: bold;
}

  

  